* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--gray-5);
  font-family: var(--font-sans);
}
p{
  margin-bottom: var(--size-6);
}


.container {
  display: grid;
  grid-gap: var(--size-1);
}

/** header code**/
.hero {
  grid-area: hero;
  background-image: url("../images/nyc.jpg");
  background-size: cover;
  background-position: bottom right;
  padding: var(--size-1);
  margin: var(--size-1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 150px;
}
.hero>* {
  padding: var(--size-1);
  margin: var(--size-1);
  background-color: var(--orange-5);
  color: var(--gray-2);
}

.cta {
  margin: var(--size-1);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-2);
  background-color: var(--gray-4);
  background-color: var(--gray-4);
  padding: var(--size-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cta1 {
  grid-area: cta1;
}
.cta2 {
  grid-area: cta2;
}

/**menu code**/
nav a {
  display: block;
  padding: var(--size-1);
  text-align: center;
  text-decoration: none;
  background-color: var(--gray-4);
}
nav a:hover {
  background-color: var(--gray-3);
}
nav li {
  list-style: none;
  flex-basis: 50vw;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
}
nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/** section code**/
section {
  display: flex;
  flex-wrap: wrap;

}
section>* {
  flex-basis: 100vw;
  padding: var(--size-3);;
}


/**article section code**/
article {
  background-color: var(--gray-8);
  color: var(--gray-7);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: var(--size-2);
  padding: 10px;
  text-align: center;
}
.album__image {
  max-width: 140px;
  margin: var(--size-2);

}
.album {
  background-color: var(--gray-4);
}

/**footer code**/
.socialContacts {
  display: none;
  }
.footerText {
  text-align: center;
}

@media screen and (min-width: 650px) {
/** header code**/
  header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
    "hero cta1"
    "hero cta2";
  }
  .hero {
    height: 250px;
  }

  /** menu code**/
  nav ul {
    flex-wrap: nowrap;
  }

  /** section code**/
section {
    flex-wrap: nowrap;
  }

  section>* {
  flex: 3;
  }
.title {
flex: 1;
  }

/**footer code**/
footer {
  grid-row: 7;
}
.socialContacts {
  display: flex;
  justify-content: space-around;
  margin-block: var(--size-5);
}

}
